*.a
*.o
*.lo
*.la
*.slo
.deps
Makefile
Makefile.in

/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/missing
/mahimahi-*.tar.gz
/stamp-h1
/libtool
/ltmain.sh

/compile
/src/protobufs/http_record.pb.cc
/src/protobufs/http_record.pb.h
/src/frontend/mm-delay
/src/frontend/mm-loss
/src/frontend/mm-link
/src/frontend/mm-onoff
/src/frontend/mm-meter
/src/frontend/mm-webrecord
/src/frontend/mm-webreplay
/src/frontend/mm-replayserver
/src/frontend/mm-youtubereplay
/src/frontend/mm-youtubeserver
/src/frontend/.libs

manifests/*
media_files/*
saved_requests/*
youtube_logs/*
plots/*
SSIM/*
media_indexes/*
SSIM_indexes/*
manifest_documents/*
bento/*
youtube_stall_logs/*
synthetic_traces/*
/make_trace.py
/plot_resolution_overlay.py
youtube_analysis_output/*
*.mkv
*.png
*.txt
*.zip
*.tar
